{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>Статистика положительных откликов</h1>
        <div>
            <canvas id="bar-chart" width="800" height="450"></canvas>
        </div>
        {% block javascripts %}
            <script>
                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels:  [{{ itemsIdsStr }}],
                        datasets: [
                            {
                                label: "",
                                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                data: [{{ itemsCountStr }}]
                            }
                        ]
                    },
                    options: {
                        legend: { display: false }
                    }
                });
            </script>
        {% endblock %}
    </main>
{% endblock %}