{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="row">
            <div class="col-md-2">
                <a href="{{ url('summary_create') }}" class="btn btn-primary">Создать</a>
            </div>
        </div>
        <table class="table table-striped reclamation-list table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Должность</th>
                <th>Текст резюме</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for summary in summaryies %}
                <tr class="reclamation">
                    <td>{{ summary.id }}</td>
                    <td>{{ summary.postOffice }}</td>
                    <td>{{ summary.textSummary }}</td>
                    <td><a href="{{ url('summary_edit', {id: summary.id}) }}" class="btn btn-secondary">Редактировать</a></td>
                    <td><a href="{{ url('summary_delete', {id: summary.id}) }}" class="btn btn-danger">Удалить</a></td>
                    <td><a href="{{ url('summary_view', {id: summary.id}) }}" class="btn btn-primary">Посмотреть</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}