{% extends 'base.html.twig' %}

{% block body %}
    <main>
        {% block flashes %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} ">
                        <i class="fa fa-exclamation-circle fa" aria-hidden="true"> </i>
                        {{ message }}.
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        <div class="container">
            <h1>Просмотр резюме</h1>
            <form name="summary-create" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-md-2">{{ form_label(form.postOffice) }}</div>
                    <div class="col-md-10">{{ form_widget(form.postOffice) }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">{{ form_label(form.textSummary) }}</div>
                    <div class="col-md-10">{{ form_widget(form.textSummary) }}</div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}