{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="row">
            <a href="{{ url('company_create') }}" class="btn btn-primary">Создать</a>
        </div>
        <div class="row">
            <table class="table table-striped reclamation-list table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название компании</th>
                    <th>Сайт</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Доступные для отправке резюме</th>
                </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr class="reclamation">
                        <td>{{ company.id }}</td>
                        <td>{{ company.title }}</td>
                        <td>{{ company.site }}</td>
                        <td>{{ company.address }}</td>
                        <td>{{ company.phone }}</td>
                        <td><a href="{{ url('company_edit', {id: company.id}) }}" class="btn btn-secondary">Редактировать</a></td>
                        <td><a href="{{ url('company_delete', {id: company.id}) }}" class="btn btn-danger">Удалить</a></td>
                        <td><a href="{{ url('company_view', {id: company.id}) }}" class="btn btn-primary">Посмотреть</a></td>
                        <td>
                            <ul class="list-group">
                                {% for summary in summaries %}
                                    {% if summary.hasSolution %}
                                        {% if summary.thisCompany(company.id) %}
                                            <li class="list-group-item text-center">
                                                <a class="btn btn-primary" href="{{ url('solution_create', {id_summary: summary.id, id: company.id}) }}">Резюме - {{ summary.id }}</a>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        <li class="list-group-item text-center">
                                            <a class="btn btn-primary" href="{{ url('solution_create', {id_summary: summary.id, id: company.id}) }}">Резюме - {{ summary.id }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}