{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>Просмотр компании {{ form.vars.value.title }}</h1>
        <div class="form-group row">
            <div class="col-md-2">{{ form_label(form.title) }}</div>
            <div class="col-md-10">{{ form_widget(form.title) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">{{ form_label(form.site) }}</div>
            <div class="col-md-10">{{ form_widget(form.site) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">{{ form_label(form.address) }}</div>
            <div class="col-md-10">{{ form_widget(form.address) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">{{ form_label(form.phone) }}</div>
            <div class="col-md-10">{{ form_widget(form.phone) }}</div>
        </div>
        <h2>Список присланных резюме:</h2>
        <table class="table table-striped reclamation-list table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for solution in solutions %}
                <tr class="reclamation">
                    <td>{{ solution.id }}</td>
                    <td>{{ solution.solution }}</td>
                    <td>
                        {% if solution.solution == 0 %}
                            <a href="{{ url('solution_change', {id: solution.id}) }}">Ответить</a>
                        {% endif %}
                        {% if solution.solution == 1 %}
                            <div>Принято</div>
                        {% endif %}
                        {% if solution.solution == 2 %}
                            <div>Отказано</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}