<div class="row text-center">
    <div class="col-md-3">
        <a href="{{ url('company_index') }}" class="btn btn-primary">Список компаний</a>
    </div>
    <div class="col-md-3">
        <a href="{{ url('summary_index') }}" class="btn btn-primary">Список резме</a>
    </div>
    <div class="col-md-3">
        <a href="{{ url('solution_positive') }}" class="btn btn-primary">График 1</a>
    </div>
    <div class="col-md-3">
        <a href="{{ url('solution_week') }}" class="btn btn-primary">График 2</a>
    </div>
</div>